*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
     position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    margin: 0 0 10px 0;

}
.text-box p{
    margin: 10px 0 10px;
    font-size: 14px;
    color:beige;
}
.hero-btn{
    display: inline block;
    text-transform: none;
    color:#f44336;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid black;
    background:#f44336;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1 { 
     font-size:20px;}
     .nav-links ul li{
        display: block;}
        .nav-links{
            position: absolute;
            background: #f44336;
            height: 100vh;
            width: 200px;
            top: 0px;
            right: 0;
            text-align: left;
            z-index: 2;
        }
}
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
}


.course p{
    color: blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;

}
.location{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.location p{
    color: blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;

}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities p{
    color: blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;

}
.cta{
    margin: 100px auto;
    width: 50%;
    text-align: center;
    padding: 100px;


}
.footer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
     

}
.footer p{
    color: blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
